<form style="position: relative;">
    <h3 class="aps-title">{{localize "visual-novel-dialogues.actorPickerSub.image-title"}}</h3>
    <div class="form-group">
        <span class="aps-span">{{localize "visual-novel-dialogues.actorPickerSub.image-label"}}</span>
        <div class="form-fields">
            <button type="button" class="aps-file-picker" style="order: 99;" title="{{localize "visual-novel-dialogues.actorPickerSub.image-button"}}">
                <i class="fas fa-file-import fa-fw"></i>
            </button>
            <input class="image aps-choose-img" type="text" placeholder="path/image.png" value="{{portFlags.img}}">
        </div>
    </div>
    <h3 class="aps-title" style="margin-top: 9px;">{{localize "visual-novel-dialogues.actorPickerSub.name-title"}}</h3>
    <div class="form-group">
        <div class="form-fields">
            <input class="aps-text-input aps-name" type="text" placeholder="{{localize "visual-novel-dialogues.placeholders.namePlaceholder"}}" value="{{portFlags.name}}">
        </div>
    </div>
    <h3 class="aps-title" style="margin-top: 9px;">{{localize "visual-novel-dialogues.actorPickerSub.title-title"}}</h3>
    <div class="form-group">
        <div class="form-fields">
            <input class="aps-text-input aps-title" type="text" placeholder="{{localize "visual-novel-dialogues.placeholders.titlePlaceholder"}}" value="{{portFlags.title}}">
        </div>
    </div>
    <div class="form-group">
    <button type="submit" class="aps-submit-button">{{localize "visual-novel-dialogues.actorPickerSub.submit"}}</button>
    <button type="submit" class="aps-delete-button">{{localize "visual-novel-dialogues.actorPickerSub.delete"}}</button>
    </div>
</form>